# Ignore node_modules
node_modules

# Ignore build output from Vite
/dist

# Ignore environment files (if applicable)
# .env

# Ignore Dockerfile and docker-compose.yml to prevent copying them
Dockerfile
docker-compose.yml

# Ignore Git files
.git
.gitignore

# Ignore any editor specific files (e.g., VSCode)
.vscode
.idea
